<div class="jumbotron text-center text-custom-color-darkbrown">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">kamu bisa membuat jadwal sebuah task atau kegiatan yang akan kamu lakukan</p>
    <a href="/users/login" class="btn btn-info btn-lg">Login</a>
</div>