<div class="jumbotron text-center text-custom-color-darkbrown">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">You can make a list of tasks that need to be completed within a certain time frame</p>
    <a href="/users/login" class="btn btn-primary">Login</a>
</div>